 html, body{
	 margin: 0px;
     font-family: 'Century Gothic' , sans-serif;
}

nav {
    background-color: #f2f2f2;
    text-align: center;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

#logo {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

img {
   width: 100px;
}

#login {
    float: right;

}

#login button {
   margin-right: 10px;
    width: 100px;
    margin-top: 5px;
    padding: 10px 16px;
    border: 2px solid #6E6E6E;
    background-color: #f2f2f2;
    color: black;
    font-family: 'Century Gothic' , sans-serif;
    border-radius: 2px;
}

#login button:hover {
   border-color: #6E6E6E;
   background-color: #6E6E6E;
   color: white;
}


.topnav {
    display: inline-block;
}


.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav .icon {
    display: none;
}

.topnav #log {
    display: none;
}


@media screen and (max-width: 610px) {
    
    .topnav a{
        display: none;
    }
    
    .topnav .icon {
        display: inline-block;
    }
    
    #login {
        display: none;
    }
    
    nav {
        text-align: right;
    }
    
    
    .topnav.responsive a.icon {
        display: inline-block;
    }
    
    .topnav.responsive a {
        display: block;
        text-align: left;
    
    }
    
    .topnav.responsive #log {
        display: block;
        text-align: left;
    }
    
    
    img {
        width: 60px;
    }
    
    #logo {
        margin-left: 10px;
        margin-top: 15px;
    }
}

