 html, body{
	 margin: 0px;
     font-family: 'Century Gothic' , sans-serif;
}

nav {
    background-color: #f2f2f2;
    text-align: center;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    height: 60px;
}

#logo {
    float: left;
    margin-left: 10px;
    width: 220px;
}


#log_btn button{
  width: 150px;
    margin-left: 40px;
}

#icon_pic {
   width: 50px;
   margin-left: 28%; 
   margin-top: 20px; 
   -webkit-transform: rotate(-40deg);
}

.log_sys {
    float: right;
}

#icon {
	font-family: 'Bradley Hand ITC', bold;
	font-size: 34px; 
	text-decoration: none; 
	float: left; 
	margin-left: 10px;; 
	margin-top: -13%; 
	color: black; 
	font-weight: bold; 

}

.log_sys button {
    margin-right: 10px;
    width: 100px;
    margin-top: 10px;
    padding: 10px 16px;
    border: 2px solid #6E6E6E;
    background-color: #f2f2f2;
    color: black;
    font-family: 'Century Gothic' , sans-serif;
    border-radius: 2px;
    font-size: 14px;
}

#prof {
    margin-right: 10px;
    width: 100px;
    margin-top: 10px;
    padding: 8px 16px;
    border: 2px solid #6E6E6E;
    background-color: #f2f2f2;
    color: black;
    font-family: 'Century Gothic' , sans-serif;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}


.log_sys button:hover {
   border-color: #6E6E6E;
   background-color: #6E6E6E;
   color: white;
}

.log_sys #prof:hover {
   border-color: #6E6E6E;
   background-color: #6E6E6E;
   color: white;
}


.topnav {
    display: inline-block;
}


.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
   background-color: #f2f2f2;
}

.topnav #logout button {
     display: inline-block;
    font-family: 'Century Gothic' , sans-serif;
    color: black;
    text-align: center;
    padding: 19px 50px;
    text-decoration: none;
    font-size: 17px;
   background-color: #f44e4e;
    border: none;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav #logout button:hover{
     background-color: #d80b0b;
    color: black;
}



.topnav .icon {
    display: none;
}

.topnav #log, .topnav #logout button{
    display: none;
}


@media screen and (max-width: 860px) {
    
    .topnav a, .topnav #logout button {
        display: none;
        z-index:+1;
        position: relative;
    }
    
    .topnav .icon {
        display: inline-block;
        padding-bottom: 17px;
    }
    
    .log_sys {
        display: none;
    }
    
    nav {
        text-align: right;
    }
    
    
    .topnav.responsive a.icon {
        display: inline-block;
    }
    
    .topnav.responsive a{
        display: block;
        text-align: left;
    
    }
    
    .topnav.responsive #log, .topnav.responsive #logout button{
        display: block;
        text-align: left;
    }
    
    #logo {
        width: 166px;
    }
    
    #icon {
        font-family: 'Bradley Hand ITC', bold;
        font-size: 34px; 
        text-decoration: none; 
        float: left; 
        margin-left: 10px;; 
        margin-top: -17.5%; 
        color: black; 
        font-weight: bold; 
    }
}