
/* Optional: Makes the sample page fill the window. */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	min-width: 480px;
}

/*Als Opening Picture wird das hochgeladene Bild verwendet --> soweit das geht*/
.opening-picture {
  grid-column: 1 / 13 ;
  grid-row:    2 / 4;
	background-image: url("../images/surfer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

h1 {
	grid-column: 1 / 13 ;
  grid-row:    2 / 4;
  color: white;
  font-family: 'Century Gothic';
  text-align: center;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
  color: #0000;
  font-family: 'Century Gothic';
  margin-left: 2%;
  margin-right: 2%;
}

.blog-info {
	grid-column: 4 / 6 ;
  grid-row:    4 / 4;
	max-height: 125px;
}

.blog-content {
	grid-column: 6 / 10 ;
  grid-row:    4 / 4;
}

.blog-content, .blog-info {
  background-color: white;
  color: #6E6E6E;
  font-family: 'Century Gothic';
  border-radius: 2px;
  display: block;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

.blog-content {
  float: right;
}


#map {
	grid-column: 6 / 10 ;
	grid-row: 5/25;
  display: block;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

.content {
    height: 900px;
    width: 100%;
}

footer {
  text-align: center;
  color: #585858;
  font-family: 'Century Gothic';
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 45%;
  float: left;
  display: block;
}

#address {
  display: none;
}

.content {
  margin-top: 2%;
}

@media screen and (max-width: 1080px) {

	.blog-info {
		grid-column: 4 / 10 ;
  	grid-row:    4 / 4;
	}

	.blog-content {
		grid-column: 4 / 10 ;
    grid-row:    5 / 5;
	}

	#map {
		grid-column: 4 / 10 ;
		grid-row: 6/20;
  	display: block;
  	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
	}
	
	footer {
		  margin-left: 35%;
	}
}

@media screen and (max-width: 720px) {

	.blog-info {
		grid-column: 2 / 12 ;
    grid-row:    4 / 4;
}

	.blog-content {
		grid-column: 2 / 12 ;
    grid-row:    5 / 5;
}

	#map {
		grid-column: 2 / 12 ;
		grid-row: 6/20;
	  display: block;
	  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
	}
	
		footer {
		  margin-left: 25%;
	}
}
