body {
  background-color: #EFF8FB;
  	min-width: 480px;
}

footer {
  text-align: center;
  color: #585858;
  font-family: 'Century Gothic';
  margin-top: 3%;
  margin-bottom: 1%;
}

.opening-picture {
  background-image: url("../images/karte.jpg");
  padding: 3%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2%;
}

h1 , p {
  color: white;
  font-family: 'Century Gothic';
  text-align: center;
}

.add-picture, .save, .quit {
  background-color: #58ACFA;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  width: 20%;
  font-family: 'Century Gothic';
	text-decoration: none;
	color: white;
	font-weight: bold;
  border-radius: 2px;
}

.add-picture:hover, .save:hover, .quit:hover {
  background-color: #084B8A;
}

.inputs {
	margin-top: -5%;
  text-align: center;
  font-family: 'Century Gothic';
}

#entry-title, #place {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
  border: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: 'Century Gothic';
  font-size: 15px;
  font-weight: 300;
  padding: 1%;
  outline: none;
  text-overflow: ellipsis;
}

#entry {
  width: 81%;
  border: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: 'Century Gothic';
  font-size: 15px;
  font-weight: 300;
  padding: 1%;
  outline: none;
  text-overflow: ellipsis;
}

.buttons {
  text-align: center;
}

#alert {
   font-family: 'Century Gothic';
    text-align: center;
}

.content-section {
  margin-top: 3%;
}

#input_form {
    text-align: center;
    padding-top: 6%;
}


@media screen and (max-width: 480px) {

  .add-picture {
	  width: 81%;
	  text-align: center;
  }

  .save {
	  width: 81%;
	  text-align: center;
  }

  .quit {
	  width: 81%;
	  text-align: center;
  }

  #entry-title, #place {
	  width: 81%;
	  text-align: center;
  }

  #place {
	  margin-top: 0%;
  }
