/*Begrüßung*/
.wrapper-main {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	min-width: 480px;
}

.start-picture {
	grid-column: 1 / 13 ;
	grid-row:    2 / 4;
	background-size: cover;
	background-width: 100%;
	background-image: url("e.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
}

#d_pic, #r_pic, #n_pic {
	float: left;
	box-sizing: border-box;
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%;

}





#main_text_ins {
	text-align: center;
	font-family: 'Century Gothic';
	color: #6E6E6E;

}

#main_text_info {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	color: #6E6E6E;
	font-family: 'Century Gothic';
	font-weight:lighter;
}

 .main_text {
  grid-column: 4 / 10 ;
  grid-row:    4 / 4;
  background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}


#welcome {
  color: white;
  font-family: 'Century Gothic';
  text-align: center;
  grid-column: 4 / 10 ;
  margin-top: 2%;
}

#welcome-text {
  color: white;
  font-family: 'Century Gothic';
  text-align: center;
  grid-column: 4 / 10 ;

}

.search-input-main {
  width: 80%;
  font-family: 'Century Gothic';
  grid-column: 4 / 10 ;

  margin-bottom: 2%;
  width: 40%;
  border: none;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: 'Century Gothic';
  font-size: 15px;
  font-weight: 300;
  padding: 1%;
  outline: none;
  text-overflow: ellipsis;
}

.login-buttons-main a{

	background-color: #58ACFA;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  width: 20%;
  font-family: 'Century Gothic';
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 2%; 
	border-radius: 2px;
}

.login-buttons-main{
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-buttons-main a:hover {
  background-color: #084B8A;
}


.new_box {
	grid-column:  4 / 6;
  grid-row:    5 / 5;

}

.explore_box {
	grid-column:  6 / 8;
  grid-row:    5 / 5;

}
.create_box{
	grid-column:  8 / 10;
  grid-row:    5 / 5;

}



.new_box, .explore_box, .create_box{
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

/* Media Type smaller than 1500px*/

@media screen and (max-width: 1500px) {




	 
.new_box {

	grid-column:  4 / 10;
	grid-row:    6 / 6;

}

.explore_box{

	grid-column:  4 / 10;
    grid-row:    7 / 7;

}

.create_box{

	grid-column:  4 / 10;
    grid-row:    8 / 8;

}



}


/* Media Type smaller than 1080px*/

@media screen and (max-width: 1080px) {




	 
.new_box {

	grid-column:  4 / 10;
	grid-row:    6 / 6;

}

.explore_box{

	grid-column:  4 / 10;
    grid-row:    7 / 7;

}

.create_box{

	grid-column:  4 / 10;
    grid-row:    8 / 8;

}



}

/* Media Type smaller than 720px*/

@media screen and (max-width: 720px) {
	 
	 
.new_box {

    grid-column:  2/ 12;
	grid-row:    6 / 6;


}

.explore_box{

    grid-column:  2/ 12;
    grid-row:    7 / 7;


}

.create_box{

    grid-column:  2/ 12;
    grid-row:    8 / 8;


}

 .main_text {
  grid-column: 2 / 12 ;
  grid-row:    4 / 4

 }

}


/*Eigentlicher Inhalt der Page*/

body{
	background-color: #EFF8FB;
}


h3 {
  color: #6E6E6E;
  font-family: 'Century Gothic';
  text-align: center;
}

p {
  color: #6E6E6E;
  font-family: 'Century Gothic';
}

.n_info{
		text-align: center;
	margin-top: 80%;
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 8%; 
}


.d_info {
	text-align: center;
	margin-top: 80%;
	margin-right: 3%;
	margin-left: 3%;
		margin-bottom: 8%;

}

.r_info{
		text-align: center;
	margin-top: 80%;
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 8%;

}

.link{
	float: right; 
	margin-top: -5%; 
	  text-decoration: none;
  font-family: 'Century Gothic';
  float: right;
  color: #58ACFA;
  margin-right: 3%;

	
}

footer{
  text-align: center;
  color: #585858;
  font-family: 'Century Gothic';
  margin-top: 3%;
}
