html, body {
    height: 100%;
}

header {
    height: 100px;
    background-color: white;
}

header nav h1 {
    text-align: center;
    padding-top: 30px;
}

#main_content {
    height: 100%;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}

#user {
    height: 100%;
    width: 300px;
    float: left;
    margin-bottom: 50px;
}


#user_picture {
    display: block;
    width: 300px;
    height: 300px;
    min-width: 15em;
    min-height: 15em;
    background-color: #eee;
    float: left;
    border-radius: 5px;
    
}

#user_picture img {
  width: 100%;
  height: 100%;
    border-radius: 5px;
}


#user_information {
    float: left;
    margin-top: 50px;
    display: block;
    width: 300px;
    height: 400px;
    min-width: 15em;
    min-height: 15em;
    background-color: #eee;
    border-radius: 5px;
}

#user_information h2{
    text-align: center;
    font-family: sans-serif;
    padding-top: 15px;
    margin-top: 0;
}

#user_information ul{
   list-style: none;
}

#user_information li{
   font-family: sans-serif;
    font-size: 1.3em;
    padding-top: 15px;
}

#user_posts {
    float: right;
    width: 60%;
    margin-left: 50px;
    margin-top: -20px;
}

#user_posts .post {
    border-radius: 5px;
    background-color: #eee;
}

#user_posts .post h2{ 
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

#user_posts .post img{
    max-width: 100%;
   
}

#user_posts .post .preview {
    margin-top: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 20px;
    margin: 10px;
}

