
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EFF8FB;
}

/*Als Opening Picture wird das hochgeladene Bild verwendet --> soweit das geht*/
.opening-picture {
  background-image: url("../data/images/surfer.jpg");
  padding: 3%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Century Gothic';
  text-align: center;
}

p {
  color: #0000;
  font-family: 'Century Gothic';
}

.blog-content, .blog-info {
  background-color: white;
  color: #6E6E6E;
  font-family: 'Century Gothic';
  width: 39%;
  margin-top: 2%;
  padding: 0.5%;
  border-radius: 2px;
  display: block;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

.blog-content {
  float: right;
  margin-right: 9%;

}

.blog-info {
  float: left;
  margin-left: 9%;
  margin-bottom: 2%;
}

#map {
  width: 40%;
  height: 55%;
  float: left;
  margin-left: 9%;
  display: block;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

form {
    text-align: center;
    padding-top: 6%;
}

footer{
  text-align: center;
  color: #585858;
  font-family: 'Century Gothic';
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: -10%;
  float: left;
  display: block;
}

.content {
  margin-top: 2%;
}
