
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	

}


#welcome {
  color: white;
  font-family: 'Century Gothic';
  text-align: center;
  font-weight: bold;

}

#overview_text_ins{
	text-align: center;
	margin-right: 10%;
	font-family: 'Century Gothic';
	margin-top: 5%;

}

#overview_text_info{
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	color: grey;
	font-family: 'Century Gothic';
	font-weight:lighter;
	margin-bottom: 5%; 


}

.overview_box1:hover{
  -webkit-filter: blur(5px);
    filter: blur(5px);
}

.filter_box1:hover{
  -webkit-filter: blur(5px);
    filter: blur(5px);
}


 .overview_pic {
    grid-column: 1 / 13 ;
    grid-row:    2 / 4;

  background-image: url("../data/images/map1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-width: 100%;
	height: 100%;
}

.pic_text  {
    grid-column: 4 / 10 ;
    grid-row:    2 / 4;
	margin-top: 3em;
	margin-bottom: 2em;
}

 .overview_text {
    grid-column: 4 / 10 ;
    grid-row:    4 / 4;
    background-color: white;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 2px; 
	
}


.overview_box1 {
    grid-column:  4 / 6;
    grid-row:    5 / 5;
	background-image: url("../data/images/berg.jpg");



}

.overview_box2{
    grid-column:  6/8;
    grid-row:    5 / 5;
	background-image: url("../data/images/koln.jpg");

}

.overview_box3{
    grid-column:  8 / 10;
    grid-row:    5 / 5;
	background-image: url("../data/images/nepal.jpg");

}

.overview_box4 {
    grid-column:  4 / 6;
    grid-row:    6 / 6;
	background-image: url("../data/images/strand.jpg");
}

.overview_box5{
    grid-column:  6 / 8;
    grid-row:    6 / 6;
	background-image: url("../data/images/tokio.jpg");
}

.overview_box6{
    grid-column:  8 / 10;
    grid-row:    6 / 6;
	background-image: url("../data/images/stadt.jpg");
}

.overview_box7{
    grid-column:  4 / 6;
    grid-row:    7 / 7;
	background-image: url("../data/images/niagara.jpg");
}


.overview_box8{
    grid-column:  6 / 8;
    grid-row:    7 / 7;
	background-image: url("../data/images/wueste.jpg");
}

.overview_box9{
    grid-column:  8 / 10;
    grid-row:    7 / 7;
	background-image: url("../data/images/paris.jpg");

}

.overview_box1, .overview_box2,.overview_box3, .overview_box4,.overview_box5, .overview_box6, .overview_box7, .overview_box8, .overview_box9{

	float: left;
	box-sizing: border-box;
	background-size: cover;
	background-repeat:no-repeat;
	max-width: 465px;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	max-height: 100%;

}

#name_box1, #name_box2, #name_box3, #name_box4, #name_box5, #name_box6, #name_box7, #name_box8, #name_box9{

  color: white;
  font-family: 'Century Gothic';
  text-align: center;
  margin-top: 26%;
  margin-bottom: 26%;
 
}


.filter_box1 {

	grid-column:  4 / 6;
	grid-row:    5 / 5;

}

.filter_box2{

	grid-column:  6 / 8;
    grid-row:    5 / 5;

}

.filter_box3{

	grid-column:  8 / 10;
    grid-row:    5 / 5;

}

.filter_box4 {
    grid-column:  4 / 6;
    grid-row:    6 / 6;

}

.filter_box5{

	grid-column:  6 / 8;
    grid-row:    6 / 6;
}

.filter_box6{

	grid-column:  8 / 10;
    grid-row:    6 / 6;

}

.filter_box7{

    grid-column:  4 / 6;
    grid-row:    7 / 7;

}

.filter_box8{

	grid-column:  6 / 8;
    grid-row:    7 / 7;

}

.filter_box9{

	grid-column:  8 / 10;
    grid-row:    7 / 7;
}

.filter_box1, .filter_box2, .filter_box3, .filter_box4, .filter_box5, .filter_box6, .filter_box7, .filter_box8, .filter_box9{

	float: left;
	box-sizing: border-box;
	background-size: cover;
	background-repeat:no-repeat;
	background: black;
	background-color: rgba(0, 0, 0, 0.3);
}


body{
  background-color: #EFF8FB;
}

h2 {
    margin-left: 10%;
    color: #6E6E6E;
    font-family: 'Century Gothic';
}

.c form {
    text-align: center;
    padding-top: 8%;
}
footer{
  text-align: center;
  color: #585858;
  font-family: 'Century Gothic';
  margin-top: 3%;
}
